/* header.css */
.header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__item {
    display: inline-block;
    margin-right: 20px;
}

.header__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header__link:hover {
    color: #ffd700; /* Cambiar color al pasar el ratón */
}

.header__search-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap:45px;

}

.header__search-input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.header__search-button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.header__search-button:hover {
    background-color: #777; /* Cambiar color al pasar el ratón */
}

.cart{
    width: 42px;
    height: 42px;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.search-container {
    position: relative;
}

.search-container input {
    padding: 5px;
    border-radius: 3px;
    border: none;
}

.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    z-index: 1;
}

